-- Create Database that will contain data from testing
CREATE DATABASE IF NOT EXISTS `${MYSQL_DATABASE_TESTING}`;

-- Create admin for the testing database, with read access to the main database. Using this user for tests will prevent
-- accidental changes to real application data.
CREATE USER IF NOT EXISTS '${MYSQL_USER_TESTING}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD_TESTING}';
GRANT ALL PRIVILEGES ON `${MYSQL_DATABASE_TESTING}`.* TO '${MYSQL_USER_TESTING}'@'%';
GRANT SELECT, LOCK TABLES, SHOW VIEW, TRIGGER ON `${MYSQL_DATABASE}`.* TO '${MYSQL_USER_TESTING}'@'%';

-- Give all privileges to the admin user to the application database. These permissions are required to run laravels
-- parallel tests, since these tests create multiple new databases.
GRANT ALL PRIVILEGES ON *.* TO '${MYSQL_USER}'@'%';

FLUSH PRIVILEGES;
