laravel_root/node_modules
laravel_root/vendor
laravel_root/storage/logs/*
laravel_root/storage/framework/cache/*
laravel_root/storage/framework/sessions/*
laravel_root/storage/framework/views/*
laravel_root/.env
laravel_root/.env.*
laravel_root/.git
laravel_root/.gitignore