---
- name: Install Docker engine and verify with hello-world
  hosts: all
  become: true
  gather_facts: true
  vars:
    docker_user: "{{ lookup('env', 'DOCKER_USER')  }}"

  tasks:
    - name: Get docker user UID
      ansible.builtin.command: id -u {{ docker_user }}
      register: docker_uid
      changed_when: false

    - name: Install Docker packages
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    - name: Disable and stop Docker service and socket (required for rootless)
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop:
        - docker.service
        - docker.socket

    - name: Remove Docker socket file if present (required for rootless)
      ansible.builtin.file:
        path: /var/run/docker.sock
        state: absent

    - name: Install rootless docker
      ansible.builtin.command: >
        dockerd-rootless-setuptool.sh install
      become_user: "{{ docker_user }}"
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ docker_uid.stdout }}"
      args:
          creates: "/home/{{ docker_user }}/.config/systemd/user/docker.service"

    - name: Wait for rootless docker socket to appear
      ansible.builtin.wait_for:
        path: "/run/user/{{ docker_uid.stdout }}/docker.sock"
        state: present
        timeout: 30

    - name: Verify Docker daemon is running rootless
      ansible.builtin.command:
        cmd: docker info --format '{{ "{{ .SecurityOptions }}" }}'
      become_user: "{{ docker_user }}"
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ docker_uid.stdout }}"
        DOCKER_HOST: "unix:///run/user/{{ docker_uid.stdout }}/docker.sock"
      register: docker_info
      changed_when: false
      failed_when: "'rootless' not in docker_info.stdout"