name: Deploy Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - dev
          - staging
          - production
      action:
        description: 'Terraform action'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

env:
  # DigitalOcean Spaces bucket name and access key, used for terraform remote state.
  TF_VAR_region: ${{ vars.DO_STATE_BUCKET_REGION }}
  TF_VAR_bucket_name: ${{ vars.DO_STATE_BUCKET_NAME }}
  AWS_ACCESS_KEY_ID: ${{ vars.DO_STATE_BUCKET_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DO_STATE_BUCKET_SECRET_KEY }}

  # Terraforms DigitalOcean provider authorization.
  TF_VAR_do_token: ${{ secrets.DO_TOKEN }}
  TF_VAR_spaces_access_id: ${{ secrets.DO_SPACES_ACCESS_ID }}
  TF_VAR_spaces_secret_key: ${{ secrets.DO_SPACES_SECRET_KEY }}
  TF_VAR_ssh_key_name: ${{ secrets.SSH_KEY_NAME }}
  TERRAFORM_WORKSPACE: ${{ github.event.inputs.environment }}

jobs:
  generate-backend-config:
    name: Generate Backend Configuration
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: deployment/terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create backend.hcl file
        run: |
          source ../scripts/common.sh
          generate_backend_file "${{ vars.DO_STATE_BUCKET_REGION }}" "${{ vars.DO_STATE_BUCKET_NAME }}" "backend.hcl"

      - name: Upload backend.hcl file
        uses: actions/upload-artifact@v4
        with:
          name: backend.hcl
          path: deployment/terraform/backend.hcl

  terraform-bootstrap:
    name: Terraform Bootstrap (${{ github.event.inputs.environment }} - ${{ github.event.inputs.action }})
    runs-on: ubuntu-latest
    needs: generate-backend-config
    defaults:
      run:
        working-directory: deployment/terraform/bootstrap/common

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Download backend.hcl file
        uses: actions/download-artifact@v4
        with:
          name: backend.hcl
          path: deployment/terraform/

      - name: Select/Create Workspace
        run: |
          terraform init -backend-config="../../backend.hcl" -backend-config="workspace_key_prefix=projects/${{ github.event.repository.name }}/infra-bootstrap"
          terraform workspace new ${{ github.event.inputs.environment }}
          terraform workspace select ${{ github.event.inputs.environment }}

      - name: Validate
        run: terraform validate

      - name: Plan
        run: terraform plan -out=tfplan

      - name: Apply
        run: terraform apply tfplan

      # - name: Capture Outputs
      #   id: bootstrap-outputs
      #   run: |
      #     echo "spaces_access_id=$(terraform output -raw spaces_access_id)" >> $GITHUB_OUTPUT
      #     echo "spaces_secret_key=$(terraform output -raw spaces_secret_key)" >> $GITHUB_OUTPUT

  # terraform-plan:
  #   name: Terraform Plan (${{ github.event.inputs.environment }} - ${{ github.event.inputs.action }})
  #   runs-on: ubuntu-latest
  #   needs: terraform-bootstrap
  #   env:
  #     TF_VAR_spaces_access_id: ${{ needs.terraform-bootstrap.outputs.spaces_access_id }}
  #     TF_VAR_spaces_secret_key: ${{ needs.terraform-bootstrap.outputs.spaces_secret_key }}
  #   defaults:
  #     run:
  #       working-directory: deployment/terraform/environments/common
  #   outputs:
  #     has_changes: ${{ steps.plan-apply.outputs.exitcode }}

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v3

  #     - name: Download backend.hcl file
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: backend.hcl
  #         path: deployment/terraform/backend.hcl

  #     - name: Select/Create Workspace
  #       run: |
  #         terraform init -backend-config ../backend.hcl -backend-config="key=projects/${{ github.event.inputs.repository.name }}/infra-bootstrap/terraform.tfstate"
  #         terraform workspace new ${{ github.event.inputs.environment }}
  #         terraform workspace select ${{ github.event.inputs.environment }}

  #     - name: Validate
  #       run: terraform validate

  #     - name: Plan (apply/destroy flag selection)
  #       id: plan-flag
  #       if: ${{ github.event.inputs.action == 'plan' || github.event.inputs.action == 'apply' || github.event.inputs.action == 'destroy' }}
  #       run: |
  #         ACTION="${{ github.event.inputs.action }}"

  #         if [ "$ACTION" = "destroy" ]; then
  #           echo "DESTROY_FLAG=-destroy" >> $GITHUB_OUTPUT
  #         else
  #           echo "DESTROY_FLAG=" >> $GITHUB_OUTPUT
  #         fi

  #     - name: Plan (apply/destroy)
  #       id: plan-apply
  #       continue-on-error: true
  #       run: terraform plan ${{ steps.plan-flag.outputs.DESTROY_FLAG }} -out=tfplan -detailed-exitcode

  #     - name: Upload Plan Artifacts
  #       if: github.event.inputs.action == 'apply' || github.event.inputs.action == 'destroy'
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: terraform-plan-${{ github.event.inputs.environment }}
  #         path: deployment/terraform/environments/common/tfplan

  # terraform-apply:
  #   name: Apply Main (if changes are detected and after manual approval)
  #   if: (github.event.inputs.action == 'apply' || github.event.inputs.action == 'destroy') && needs.terraform-plan.outputs.has_changes == 2
  #   runs-on: ubuntu-latest
  #   needs: [terraform-bootstrap, terraform-plan]
  #   environment: ${{ github.event.inputs.environment }}
  #   env:
  #     TF_VAR_spaces_access_id: ${{ needs.terraform-bootstrap.outputs.spaces_access_id }}
  #     TF_VAR_spaces_secret_key: ${{ needs.terraform-bootstrap.outputs.spaces_secret_key }}
  #   defaults:
  #     run:
  #       working-directory: deployment/terraform/environments/common

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v3

  #     - name: Download backend.hcl file
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: backend.hcl
  #         path: deployment/terraform/backend.hcl

  #     - name: Download Plan Artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: terraform-plan-${{ github.event.inputs.environment }}
  #         path: deployment/terraform/environments/common

  #     - name: Select Workspace
  #       run: |
  #         terraform init -backend-config ../../backend.hcl -backend-config="key=projects/${{ github.event.inputs.repository.name }}/infra-bootstrap/terraform.tfstate"
  #         terraform workspace new ${{ github.event.inputs.environment }}
  #         terraform workspace select ${{ github.event.inputs.environment }}

  #     - name: Apply (from approved plan)
  #       run: terraform apply tfplan

  terraform-bootstrap-destroy:
    name: Terraform Bootstrap Destroy (${{ github.event.inputs.environment }} - ${{ github.event.inputs.action }})
    runs-on: ubuntu-latest
    needs: [generate-backend-config, terraform-bootstrap]
    defaults:
      run:
        working-directory: deployment/terraform/bootstrap/common

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Download backend.hcl file
        uses: actions/download-artifact@v4
        with:
          name: backend.hcl
          path: deployment/terraform/

      - name: Select/Create Workspace
        run: |
          terraform init -backend-config="../../backend.hcl" -backend-config="workspace_key_prefix=projects/${{ github.event.repository.name }}/infra-bootstrap"
          terraform workspace select ${{ github.event.inputs.environment }}

      - name: Validate
        run: terraform validate

      - name: Plan
        run: terraform plan -destroy -out=tfplan

      - name: Apply
        run: terraform apply tfplan