name: Deploy Infrastructure

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - dev
          - staging
          - production
      action:
        description: 'Terraform action'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

env:
  # DigitalOcean Spaces bucket name and access key, used for terraform remote state.
  TF_VAR_region: ${{ vars.DO_STATE_BUCKET_REGION }}
  TF_VAR_bucket_name: ${{ vars.DO_STATE_BUCKET_NAME }}
  AWS_ACCESS_KEY_ID: ${{ vars.DO_STATE_BUCKET_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DO_STATE_BUCKET_SECRET_KEY }}

  # Terraforms DigitalOcean provider authorization.
  TF_VAR_do_token: ${{ secrets.DO_TOKEN }}
  TF_VAR_spaces_access_id: ${{ secrets.DO_SPACES_ACCESS_ID }}
  TF_VAR_spaces_secret_key: ${{ secrets.DO_SPACES_SECRET_KEY }}
  TF_VAR_ssh_key_name: ${{ secrets.SSH_KEY_NAME }}
  TERRAFORM_WORKSPACE: ${{ github.event.inputs.environment }}

jobs:
  echo-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: |
          echo "Environment variables:"
          echo "TF_VAR_region=$TF_VAR_region"
          echo "TF_VAR_bucket_name=$TF_VAR_bucket_name"
          echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID"
          echo "TERRAFORM_WORKSPACE=$TERRAFORM_WORKSPACE"