name: Push changes

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Push changes'
        required: true
        type: choice
        options:
          - dev
          - staging
          - production
      action:
        description: 'Terraform action'
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy

env:
  # DigitalOcean Spaces bucket name and access key, used for terraform remote state.
  TF_VAR_region: ${{ vars.DO_STATE_BUCKET_REGION }}
  TF_VAR_bucket_name: ${{ vars.DO_STATE_BUCKET_NAME }}  
  AWS_ACCESS_KEY_ID: ${{ vars.DO_STATE_BUCKET_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.DO_STATE_BUCKET_SECRET_KEY }}

  # Terraforms DigitalOcean provider authorization.
  TF_VAR_do_token: ${{ secrets.DO_TOKEN }}

  # Terraform [TODO: description]
  TF_VAR_ssh_key_name: ${{ secrets.SSH_KEY_NAME }} # Environment key gebruiken

jobs:
  retrieve-remote-state:
    name: Generate Backend Configuration
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: deployment/terraform
    outputs:
      droplet_ipv4: ${{ steps.terraform-state.outputs.droplet_ipv4 }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Create backend.hcl file
        run: |
          source ../scripts/common.sh
          generate_backend_file "${{ vars.DO_STATE_BUCKET_REGION }}" "${{ vars.DO_STATE_BUCKET_NAME }}" "backend.hcl"

      - name: Upload backend.hcl file
        uses: actions/upload-artifact@v4
        with:
          name: backend.hcl
          path: deployment/terraform/backend.hcl

      - name: Select/Create Workspace
        working-directory: deployment/terraform/environments/common
        run: |
          terraform init -backend-config="../../backend.hcl" -backend-config="workspace_key_prefix=projects/${{ github.event.repository.name }}/infra-bootstrap"
          terraform workspace select ${{ github.event.inputs.environment }}

      - name: Capture Outputs
        id: terraform-state
        run: |
          echo "droplet_ipv4=$(terraform output -raw droplet_ipv4)" >> $GITHUB_OUTPUT

  ansible-connect-test:
    name: Test if ansible can connect to the server
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    defaults:
      run:
        working-directory: deployment/terraform
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Start ssh-agent and add private key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Add server to known_hosts to avoid disabling host key checking
      - name: Add droplet to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ needs.retrieve-remote-state.outputs.droplet_ipv4 }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts          
      
      - name: Install Ansible
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Ansible ping to server
        env:
          ANSIBLE_HOST_KEY_CHECKING: "True"
          DROPLET_IP: "${{ needs.retrieve-remote-state.outputs.droplet_ipv4 }}"
        run: |
          ansible -i inventory.yml all -m ping -u root